MONGO_USER=admin
MONGO_PASS=admin123
MONGO_DB=sweetmedical

#aca estoy usando el nombre del servicio de mongo definido en docker-compose.prod.yml
#asique para usarlo en local cambiarlo a localhost
MONGO_URI=mongodb://admin:admin123@mongodb:27017/sweetmedical?authSource=admin

PORT=3001
